

<!--Contributions and Subscriptions Manager-->
<!--<div class="my-activities-nav mb-0">-->
<!--  <div class="container">-->
<!--    <nav class="collapsible-nav">-->
<!--      <button type="button" class="collapsible-nav-toggle" aria-label="{{t 'toggle_navigation'}}" aria-expanded="false">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-nav-toggle-icon chevron-icon">-->
<!--          <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>-->
<!--        </svg>-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-nav-toggle-icon x-icon">-->
<!--          <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>-->
<!--        </svg>-->
<!--      </button>-->
<!--      <ul class="collapsible-nav-list">-->
<!--        <li class="current">-->
<!--          <a href="{{page_path 'requests'}}" aria-current="page">{{ t 'requests' }}</a>-->
<!--        </li>-->
<!--        <li>{{link 'contributions'}}</li>-->
<!--        <li>{{link 'subscriptions'}}</li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </div>-->
<!--</div>-->

<section class="bg-primary mb-0 py-5">
    <div class="container text-white text-center">
        <h1>Bienvenue, {{user_name}}!</h1>
        <p>Notre équipe d’appui en ligne est là pour répondre à toutes tes questions. Nous t’offrons un service personnalisé et confidentiel pour t’appuyer dans ton enseignement. Choisis une méthode ci-dessous pour discuter avec nous. </p>
    </div>
</section>

<section>
    <div class="bg-rounded" style="height: 96px;">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1838.3 210.78">
                <defs>
                    <style>
                        .cls-4 {
                            fill: #003263;
                        }
                        .cls-5 {
                            fill: #00aed6;
                        }
                        .cls-6 {
                            fill: #0f5a84;
                        }
                    </style>
                </defs>
                <g id="Layer_2" data-name="Layer 2">
                    <g id="A_Propos_Image" data-name="A_ProposImage">
                        <rect class="cls-4" width="1838.3" height="128.68" />
                        <path
                                class="cls-5"
                                d="M1838.3,187.8S1004.24,46.86,1.53,209.24c0,0,827.93-191.48,1366.84-124.85l469.93,56.43Z"
                        />
                        <path
                                class="cls-6"
                                d="M1838.3,120v48.26S897.68,36.14.77,210.78V100.48S766.6-74.16,1838.3,120Z"
                        />
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="container channel-wave">
        <div class="row justify-content-center align-items-center flex-row">
            <div class="col-6 col-md col-lg-2">
                {{#link 'new_request'}}
                    <div
                            class="rounded-circle d-flex flex-column justify-content-center align-items-center channel bg-white my-2"
                    >
                        <img
                                src="{{asset 'email-icon.png'}}"
                                class="channel-img"
                        />
                        <span class="channel-text my-1">Courriel</span>
                    </div>
                {{/link}}
            </div>
            <div class="col-6 col-md col-lg-2">
                <div
                        class="rounded-circle d-flex flex-column justify-content-center align-items-center channel bg-white my-2"
                >
                    <img
                            src="{{asset 'phone-icon.png'}}"
                            class="channel-img"
                    />
                    <span class="channel-text my-1">Téléphone</span>
                </div>
            </div>
            <div class="col-6 col-md col-lg-2">
                <div
                        class="rounded-circle d-flex flex-column justify-content-center align-items-center channel bg-white my-2"
                >
                    <img
                            src="{{asset 'text-icon.png'}}"
                            class="channel-img"
                    />
                    <span class="channel-text my-1">Texto</span>
                </div>
            </div>
            <div class="col-6 col-md col-lg-2">
                <div
                        class="rounded-circle d-flex flex-column justify-content-center align-items-center channel bg-white my-2"
                >
                    <img
                            src="{{asset 'chat-icon.png'}}"
                            class="channel-img"
                    />
                    <span class="channel-text my-1">Clavardage</span>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white" style="height: 20px;"></div>
</section>

<section>
    <div class="container">
        <div class="py-4 px-2 my-5 wellflare-left">
        <span>
          <strong> Les heures d’ouvertures sont les suivantes :</strong> le
          dimanche de 17 h à 21 h et du lundi au jeudi de 16 h à 21 h
        </span>
        </div>
    </div>
</section>

<div class="container">
  <header class="my-activities-header">
    <h1>{{t 'my_requests'}}</h1>

    <div class="my-activities-sub-nav">
      <nav class="collapsible-nav collapsible-nav-border">
        <button type="button" class="collapsible-nav-toggle" aria-label="{{t 'toggle_navigation'}}" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-nav-toggle-icon chevron-icon">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-nav-toggle-icon x-icon">
            <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
          </svg>
        </button>
        <ul class="collapsible-nav-list">
          {{#each filters}}
            {{#if selected}}
              <li class="current">
                <a href="{{url}}" aria-current="page">{{name}}</a>
              </li>
            {{else}}
              <li><a href="{{url}}">{{name}}</a></li>
            {{/if}}
          {{/each}}
        </ul>
      </nav>
    </div>
  </header>

  {{#form 'requests_filter' id="main-content" class='requests-table-toolbar'}}
    <div class="search">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{label 'query' for='quick-search' class='visibility-hidden'}}
      {{input 'query' id='quick-search' type='search' class='requests-search'}}
    </div>
    {{#if help_center.multiple_organizations_enabled}}
      <div class="request-table-filter">
        {{label 'organization' for='request-organization-select' class='request-filter request-filter-label'}}
        {{select 'organization' id='request-organization-select' class='request-filter'}}
      </div>
    {{/if}}

    <div class="request-table-filter organization-subscribe">
      {{subscribe}}
    </div>

    <div class="request-table-filter">
      {{label 'status' for='request-status-select' class='request-filter request-filter-label'}}
      {{select 'status' id='request-status-select' class='request-filter'}}
    </div>
  {{/form}}

  {{#if query}}
    <div class="requests-search-info meta-data">
      {{t 'requests_search_results_info' count=requests.length query=query}}
    </div>
  {{else}}
    {{#unless requests}}
      <p class="no-activities">{{t 'no_requests'}}</p>
    {{/unless}}
  {{/if}}

  <div class="requests">
    {{#if requests}}
      <table class="table my-activities-table requests-table {{current_filter.identifier}}-requests">
        <thead>
          <tr>
            <th>{{t 'subject'}}</th>
            <th>{{t 'id'}}</th>
            <th>
              {{#is current_filter.identifier 'my'}}
                {{#link 'requests' sort_by='created_at'}}{{t 'created'}}{{/link}}
              {{else}}
                {{t 'requester'}}
              {{/is}}
            </th>
            <th>{{#link 'requests' sort_by='updated_at'}}{{t 'last_activity'}}{{/link}}</th>
            <th>
              {{t 'status'}}
            </th>
          </tr>
        </thead>

        <tbody>
          {{#each requests}}
            <tr {{#is status 'closed'}} class="request-closed" {{/is}}>
              <td class="request-info requests-table-info">
                <a href="{{url}}" class="striped-list-title" title="{{subject}}">
                  {{#if subject}}
                    {{subject}}
                  {{else}}
                    {{excerpt description characters=50}}
                  {{/if}}
                </a>

                <!-- Visible on mobile -->
                <div class="requests-table-meta meta-group">
                  <span class="meta-data">#{{id}}</span>
                  <span class="meta-data">{{date created_at timeago=true}}</span>
                  <span class="status-label status-label-{{status}}" title="{{status_description}}">
                    {{status_name}}
                  </span>
                </div>
              </td>
              <td>#{{id}}</td>
              <td>
                {{#is ../current_filter.identifier 'my'}}
                  {{date created_at timeago=true}}
                {{else}}
                  {{requester.name}}
                {{/is}}
              </td>
              <td>{{date updated_at timeago=true}}</td>
              <td class="requests-table-status">
                <span class="status-label status-label-{{status}}" title="{{status_description}}">
                  {{status_name}}
                </span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>

  {{pagination}}
</div>
<section>
    <div class="container">
        <div class="wellflare-right py-4 mt-5">
            <h2 class="ml-3">Outils</h2>
            <div class="row px-5">
                <div class="col-md">
                    <ul class="flower">
                        <li class="my-1">
                            <a href="https://www.lecentrefranco.ca/" target="_blank">Le Centre franco</a>
                        </li>
                        <li class="my-1"><a href="https://www.lecentrefranco.ca/catalogue/" target="_blank">Catalogue de ressources</a></li>
                        <li class="my-1"><a href="https://www.lecentrefranco.ca/developpement-professionnel/" target="_blank">Développement professionnel</a></li>
                        <li class="my-1"><a href="https://edusourceontario.com/ressources/trouver" target="_blank">EDUSOURCE</a></li>
                    </ul>
                </div>
                <div class="col-md">
                    <ul class="flower">
                        <li class="my-1">
                            <a href="https://www.redontario.ca/" target="_blank">REDO - Ressources éducative de l’Ontario </a>
                        </li>
                        <li class="my-1">
                            <a href="https://e-a-v.ca/" target="_blank">EAV - Environnement d’apprentissage virtuel</a>
                        </li>
                        <li class="my-1"><a href="https://www.idello.org/fr/a-propos/profils-idello" target="_blank">IDÉLLO</a></li>
                        <li class="my-1"><a href="https://apprendreenseignerinnover.ca/" target="_blank">Apprendre Enseigner Innover</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

